.rodape {
    display: flex;
    justify-content: center;
    background-color: #1F35B5;
    color: white;

}


.rodape__lista-titulo {
    text-align: center;
}

.rodape__lista-titulo {
    font-weight: 700;
    font-size: 18px;
}

.lista__especialidades {
    margin-top: 1em;
}

.lista__destaques-corte {
    text-align: center;
    margin-left: 2em;
    margin-bottom: 3em;
}

.lista__destaques-item {
    list-style: none;
    line-height: 2rem;
    text-align: center;
    font-size: 15px;
}

@media screen and (min-width:990px) {
    .rodape {
        display: flex;

    }

    .rodape__lista {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 3em;
    }

  
    .lista__destaques {
        margin: 0 0 0 0;
    }

    .lista__destaques-corte {
        margin-top: 2em;
        align-items: center;
    }

}